{% load staticfiles %}
<head>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'calendario_app.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Entradas</h1>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td class="head">Id</td>
                            <td class="head">Titulo</td>
                            <td class="head">Dica</td>
                            <td class="head">Corpo</td>
                            <td class="head">Lembrete</td>
                            <td class="head">Deletar</td>
                            <td class="head">Atualizar</td>
                            <td class="head">Detalhes</td>
                        </tr>
                        {% for entry in qst %}
                        <tr>
                            <td>{{ entry.id|default_if_none:"" }}</td>
                            <td>{{ entry.title|default_if_none:"" }}</td>
                            <td>{{ entry.snippet|default_if_none:"" }}</td>
                            <td>{{ entry.body|default_if_none:"" }}</td>
                            <td>{{ entry.remind|yesno:"Sim,Não" }}</td>
                            <td><a href="{% url 'cal:entry-delete' pk=entry.id year=year month=month day=day %}" class="btn btn-danger">Deletar</a></td>
                            <td><a href="{% url 'cal:entry-update' pk=entry.id year=year month=month day=day %}" class="btn btn-warning">Atualizar</a></td>  
                            <td><a href="{% url 'cal:entry-detail' pk=entry.id year=year month=month day=day %}" class="btn btn-primary">Detalhes</a></td>
                        
                        </tr>
                        
                        {% endfor %}
                    </table>
                </div>
                <h4>Nova entrada</h4>
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-default" value="">Salvar</button>
                    <a class="btn btn-primary" href="{% url 'cal:month' year month %}">Visualizar Mês</a>
                </form>
            </div>
        </div>
    </div>
    <br>
</body>
