<h4>My Entries</h4>
{% load staticfiles %}
<head>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
</head>
<form action="{% url 'cal.views.day' year month day %}" method="POST"> {% csrf_token %}

{{ entries.management_form }}
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Titulo</td>
        <td>Snippet</td>
        <td>Corpo</td>
        <td>Remind</td>
    </tr>

    {% for entry in entries.forms %}
            <tr>
                <td>{{ entry.id.value|default_if_none:"" }}</td>
                <td>{{ entry.title.value|default_if_none:"" }}</td>
                <td>{{ entry.snippet.value|default_if_none:"" }}</td>
                <td>{{ entry.body.value|default_if_none:"" }}</td>
                <td>{{ entry.remind.value|default_if_none:"" }}</td>
            </tr>

    {% endfor %}
</table>
</div>
<br>

<h4>Nova entrada</h4>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
{% for entry in entries.forms %}
    {{ entry.id }}
    {% if not entry.id.value %}
        <div class="entry">
            <div id="inp1">
                <p>Title: {{ entry.title }}</p>
                <p>Snippet: {{ entry.snippet }}</p>
            </div>
            <p>Remind: {{ entry.remind }}</p>
            {{ entry.body }}
        </div>
    {% endif %}
        <p>Remind: {{ entry.remind }}</p>
        {{ entry.body }}
    </div>
        <a href="{% url 'delete_entry' %}" class="btn btn-danger" id="Delete">{{ entry.DELETE.label }}</a>
{% endfor %}
</div>
 </form>
