<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<a href="{% url 'cal.views.main' year|add:'-3' %}">&lt;&lt; Prev</a>
<a href="{% url 'cal.views.main' year|add:'3' %}">Next &gt;&gt;</a>

    {% for year, months in years %}
        <div class="clear"></div>
        <h4>{{ year }}</h4>
            <table class="table table-bordered">
                <tr>
                {% for month in months %}
                    <!--{% if month.n == 0 %}{% endif %}-->
                        <td>
                            {% if month.entry %}<b>{% endif %}
                                <a href="{% url 'cal.views.month' year=year month=month.n %}">{{ month.name }}</a>
                            {% if month.entry %}</b>{% endif %}
                        </td>
                    </div>

                    {% if month.n == 6 %}</tr><tr>{% endif %}
                {% endfor %}
                </tr>
        </table>
    {% endfor %}
</html>