<!DOCTYPE html>
{% load staticfiles %}
<head>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
</head>
<a href= "{% url 'cal.views.month' year=year month=month change="prev" %}">&lt;&lt; Prev</a>
<a href= "{% url 'cal.views.month' year=year month=month change="next" %}">Next &gt;&gt;</a>

{% if reminders %}
<div class="reminders">
    <div class="gr">Alerts</div>
    {% for reminder in reminders %}<p> {{ reminder.short|safe }}</p>
    {% endfor %}
</div>
{% endif %}

<h4>{{ mname }} {{ year }}</h4>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="month col-lg-7 col-md-7 col-sm-7 col-xs-7">
    <table class="table table-bordered">


    <tr>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Mon</td>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Tue</td>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Wed</td>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Thu</td>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Fri</td>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Sat</td>
        <td class="empty col-lg-1 col-md-1 col-sm-1 col-xs-1">Sun</td>
    </tr>

    {% for week in month_days %}
        <tr class="">
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onClick="parent.location='{% url 'cal.views.day' year month day %}'"
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='white';"
            {% endif %} >

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                {{ day }}
                {% for entry in entries %}
                    <br />
                    <b>{{ entry.creator }}</b>: {{ entry.short|safe }}
                {% endfor %}
                {% for entry in other_entries %}
                    <div class="entry">
                    {{ entry.creator }} |
                    {{ entry.short|safe }}<br />
                    {{ entry.body }}<br />
                    </div>
                {% endfor %} <br />
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>
</div>
<a href="{% url 'cal.views.main' year %}">Back</a>