{% load staticfiles %}
<head>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'calendario_app.css' %}" rel="stylesheet">
</head>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<h1>Entradas</h1>
	<div class="container" id="entry-update">
    	<h4>Atualizar Entrada</h4>
    </div>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default" value="Update">Salvar</button>
        <a href="{% url 'entry-create' year month day%}" class="btn btn-default">Voltar</a>
    </form>
</div>
