body {
	margin-top: 50px;
}

.content
	{
		height:80px; 
		width:120px;
		overflow:auto;
	}

#content:hover 
	{
		background-color: #bdbdbd;
	}

.head
{
	background-color: #1c1c1c;
	color: white;
	overflow: auto;
	font-weight: bold;
	padding:5px;
}

h1
{
	text-align:center;
}