
#content
	{
		height:80px; 
		width:120px;
		overflow:auto;
	}

#content:hover 
	{
		background-color: #bdbdbd;
	}

#head
{
	background-color: #1c1c1c;
	color: gray;
	overflow: auto;
	table-layout:fixed;
	word-wrap: break-word;
}

#ID
{
	background-color: #1c1c1c;
	color: gray;
	overflow: hidden;
	table-layout:fixed;
	word-wrap: break-word;
	width:40px;
}

#entry-update
{
	background-color: #1c1c1c;
	color: gray;
	text-align:left;
}

h1
{
	text-align:center;
}